@use './_variables.scss';
@use 'mixins';

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  color: var(--color-gray-dark);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-lg);
  background: var(--color-pastel-white);
}

// Layout component styles
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &--mobile-menu-open {
    overflow: hidden;
    height: 100vh;
  }
}
